# Flutter
.DS_Store
.dart_tool/
.packages
.pub-cache/
.pub/
/build/
ios/Flutter/.last_build_id
ios/Flutter/flutter_assets/
ios/Flutter/App.framework/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*
android/app/src/main/java/io/flutter/plugins/
android/app/src/main/kotlin/io/flutter/plugins/